<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% block title %}   
{% endblock %}
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- css -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/simple-line-icons/css/simple-line-icons.css">
<link href="/static/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<!-- <link href="/static/css/jcarousel.css" rel="stylesheet" /> -->
<link href="/static/css/flexslider.css" rel="stylesheet" />
<link href="static/js/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet" />

<!-- Styles -->
<link href="/static/table/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/table/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/table/assets/plugins/icomoon/style.css" rel="stylesheet">
<link href="/static/table/assets/plugins/uniform/css/default.css" rel="stylesheet"/>
<link href="/static/table/assets/plugins/switchery/switchery.min.css" rel="stylesheet"/>
<link href="/static/table/assets/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/table/assets/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>
<link href="/static/table/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>

<!--gridmanager-->
<link rel="stylesheet" type="text/css" href="/static/gridmanager/css/gm.css">
<link rel="stylesheet" type="text/css" href="/static/gridmanager/css/common.css">
<script type="text/javascript" src="/static/gridmanager/js/gm.js"></script>
<!--Content-->
<link rel="stylesheet" href="/static/content/css/bootstrap.min.css" >
<link href="static/content/css/style.css" rel='stylesheet' type='text/css' />

<link href="/static/rollNum/css/globle.css" rel="stylesheet">
<script type="text/javascript" src="/static/rollNum/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/rollNum/js/num.js"></script>
<base href="http://127.0.0.1:9091/"/>

</head>


<body>

<div id="wrapper" class="home-page">
	<!-- start header -->

	<!-- end header -->

      {% block body %}
      {% endblock %}


	<footer>
	<div class="container" id="JOIN">
		<div class="row">
			<div class="col-md-3">
				<div class="widget">
					<h5 class="widgetheading"><a href="" target ="_blank">JOIN</a></h5>
				</div>
			</div>
			<div class="col-md-3">
				<div class="widget">
					<h5 class="widgetheading"><a href="" target ="_blank">JOIN</a></h5>
				</div>
			</div>
		</div>
	</div>
	</footer>

</div>


<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="/static/js/jquery.js"></script>-->
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.fancybox.pack.js"></script>
<script src="/static/js/jquery.fancybox-media.js"></script>
<script src="/static/js/portfolio/jquery.quicksand.js"></script>
<script src="/static/js/portfolio/setting.js"></script>
<script src="/static/js/jquery.flexslider.js"></script>
<script src="/static/js/animate.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/owl-carousel/owl.carousel.js"></script>
<!--<script src="/static/table/assets/plugins/jquery/jquery-3.1.0.min.js"></script>-->
<!--<script src="/static/table/assets/plugins/bootstrap/js/bootstrap.min.js"></script>-->
<script src="/static/table/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/table/assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
<script src="/static/table/assets/plugins/switchery/switchery.min.js"></script>
<script src="/static/table/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="/static/table/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/table/assets/js/ecaps.min.js"></script>
<script src="/static/table/assets/js/pages/table-data.js"></script>

</body>
</html>